*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-color: #eae9e9;
  
}
.question{
    padding: 44px 0px 0px 0px;
    /* color: #6c6c6c; */
}
.answer{
  
    width: 60%;
    margin-top: 40px;

    
}
.p2{
    padding: 0px 15px;
}

.icon{
    margin: 50px 0;
    color:#fb6058;
    font-size: 90px;
}
.label{
    margin-top: 20px;
 
}
.visnone{
   color: white;
}
.button-down{
    background-color: #fff;
}
.options
{
    transition: outline .3s ease-in;  
    cursor: pointer;
    box-shadow: 0 29px 14px 0 rgba(0,0,0,.04);
    outline: 3px solid transparent;
    height: 340px;
    background-color: white;
    overflow: hidden;
}
.button-down{
    margin-top: 33px;
}

.options:hover{
    border: 4px solid #fb6058 ;
}
.options:hover .visnone{
    color: black;
}
.options:hover .icon{
    margin:10px 0px;
}
.options:hover .button-down{


 background-color: #fb6058;
}
/* .options:hover .label{
    margin-top: 10px;
} */
@media screen and (max-width:992px){
    .p2{
        padding: 15px 0px;
    }
    
}
@media screen and (max-width:440px){
   .button-down{
       margin-top: 0px;
   }
    
}
